@model BVS.Data.DTOs.NewUserDto
@{
    ViewData["Title"] = "Register";
}

<h2>Registracija</h2>
@using (Html.BeginForm(FormMethod.Post))
{
    <p>Vardas</p>
    @Html.TextBoxFor(x => x.Name,
        new { @class = "form-control", @placeholder = "Vardas",@pattern = "[A-Za-z]*", @style = "resize: none",@required = ""})
    <br>
    <p>Pavardė</p>
    @Html.TextBoxFor(x=>x.Surname,
        new{@class="form-control", @placeholder = "Pavardė", @pattern = "[A-Za-z]*", @style = "resize: none", @required = "" })
    <br>
    <p>Prisijungimo vardas</p>
    @Html.TextBoxFor(x=>x.Username,
        new{@class="form-control", @placeholder = "Prisijungimo vardas", @pattern = "[A-Za-z]*", @style = "resize: none", @required = "" })
    <br>
    <p>Slaptažodis</p>
    @Html.TextBoxFor(x=>x.Password,
        new{@class="form-control", @type = "password", @placeholder = "Splatažodis", @style = "resize: none", @required = "" })
    <br>
    <p>E. paštas</p>
    @Html.TextBoxFor(x=>x.Email,
        new{@class="form-control", @type = "email", @placeholder = "E. paštas", @style = "resize: none", @required = "" })
    <br>
    <br>
    <button class="btn btn-info " type="submit">Užsiregistruoti</button>
}


