@model ICollection<BVS.Data.Models.Order>
@{
    ViewData["Title"] = "OrdersPage";
}

<h2>Užsakymai</h2>


<br><br>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Dalys</th>
                <th>Užsakytojas</th>
                <th>Užsakymo data</th>
                <th>Atvykimo data</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @*@item.Parts*@
                        @foreach (var part in @item.Parts)
                        {
                            @part.Part.Name <br>
                        }
                    </td>
                    <td>@item.Author.Name @item.Author.Surname</td>
                    <td>@item.Date</td>
                    <td>@item.ArivalDate</td>

                </tr>
            }

        </tbody>
    </table>
    <button class="btn btn-info pull-right" type="button" onclick="location.href='@Url.Action("OrderForm", "Warehouse")'">Pridėti užsakymą</button>

</div>