@model BVS.Models.AllEmployees
@{
    ViewData["Title"] = "ViewEmployees";
}

<h2>Darbuotojai</h2>

@using (Html.BeginForm("ViewEmployees", "Employees", FormMethod.Post))
{
    <input type="text" name="Search" placeholder="Search..." style="height:30px;">
    <button class="btn btn-info" type="submit">Ieškoti</button>
}

<button class="btn btn-info pull-right" type="button">Pridėti darbuotoją</button>
<br><br>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Vardas</th>
                <th>Pavardė</th>
                <th>Vartotojo vardas</th>
                <th>Slaptažodis</th>
                <th>E.paštas</th>
                <th>Telefono nr.</th>
                <th>Darbo pozicija</th>
                <th>Atnaujinti</th>
                <th>Ataskaitos</th>
                <th>Šalinti</th>
            </tr>
        </thead>

        <tbody>
            @if (Model.Worker != null)
            {
                @foreach (BVS.Data.Models.Worker w in Model.Worker)
                {
                    <tr>
                        <td>@w.Name</td>
                        <td>@w.Surname</td>
                        <td>@w.Username</td>
                        <td>@w.Password</td>
                        <td>@w.Email</td>
                        <td>@w.PhoneNo</td>
                        <td>Bankomatų prižiūrėtojas</td>
                        <td><button class="btn btn-info" type="button">Atnaujinti</button></td>
                        <td><button class="btn btn-info" type="button">Ataskaitos</button></td>
                        <td><button class="btn btn-info" type="button">Šalinti</button></td>
                    </tr>
                }
            }

            @if (Model.StorageWorker != null)
            {
                @foreach (BVS.Data.Models.StorageWorker s in Model.StorageWorker)
                {
                    <tr>
                        <td>@s.Name</td>
                        <td>@s.Surname</td>
                        <td>@s.Username</td>
                        <td>@s.Password</td>
                        <td>@s.Email</td>
                        <td>@s.PhoneNo</td>
                        <td>Sandėlininkas</td>
                        <td><button class="btn btn-info" type="button">Atnaujinti</button></td>
                        <td><button class="btn btn-info" type="button">Ataskaitos</button></td>
                        <td><button class="btn btn-info" type="button">Šalinti</button></td>
                    </tr>
                }
            }

        </tbody>


    </table>

</div>