@model ICollection<BVS.Data.Models.ATM>
@{
    ViewData["Title"] = "ViewATMs";
}

<h2>Banomatai</h2>


@using (Html.BeginForm("ViewATMs", "ATM", FormMethod.Post))
{
    <input type="text" name="Search" placeholder="Search..." style="height:30px;">
    <button class="btn btn-info" type="submit">Ieškoti</button>
}

<button class="btn btn-info pull-right" type="button" onclick="location.href='@Url.Action("AddATM", "ATM")'">Pridėti bankomatą</button><br><br>
<button class="btn btn-warning pull-right" type="button" onclick="location.href='@Url.Action("MessageATM", "ATM")'">Generuoti bankomato siunčiamą žinutė</button>

<br><br>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Adresas</th>
                <th>Papildoma informacija</th>
                <th>Būsena</th>
                <th>Ar prijungtas</th>
                <th>Atnaujinti</th>
                <th>Šalinti</th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null)
            {
                @foreach (var atm in Model)
                {
                    var id = atm.Id;
                    var address = atm.Address;
                    <tr>
                        <td>@atm.Address</td>
                        <td>@atm.AditionalInfo </td>
                        <td>@atm.State</td>
                        <td>
                            @if (atm.Online)
                            {
                                <p>Taip</p>
                            }
                            else
                            {
                                <p>Ne</p>
                            }
                        </td>
                        <td><button class="btn btn-info" type="button" onclick="location.href='@Url.Action("UpdateATM", "ATM", new { atmId = id })'" )'">Atnaujinti</button></td>
                        <td>
                            <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("RemoveATM", "ATM", new { atmId = id})'">Šalinti</button>
                        </td>
                    </tr>
                }
            }

        </tbody>


    </table>

</div>